<div class="experiment-container">
  <% if current_user %>
  <h2>Experiments</h2>
  <section>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Researcher</th>
          <th>Date Created</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <%= render @experiments %>
      </tbody>
    </table>
  </section>
  <% end %>
</div>
