<tr>
  <td><%= link_to proposal.title, proposal_path(proposal) %></td>
  <td><%= proposal.faculty.name %></td>
  <td><%= proposal.created_at.strftime("%d %b, %Y") %></td>
  <td><%= proposal.updated_at.strftime("%d %b, %Y") %></td>
</tr>

