<div class="proposal-container">
  <% if current_user %>
  <h2>Proposals:</h2>
  <% if current_user.role == "researcher" %>
    <%= button_to "Run an Experiment", new_experiment_path %>
  <% end %>
  <section>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Faculty Sponsor</th>
          <th>Date Created</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <%= render @proposals %>
      </tbody>
    </table>
  </section>
  <% end %>
</div>

