<div class="proposal-container">
  <% if current_user %>
     <% if current_user.role == "faculty" %>
      <%= button_to "New Proposal", new_proposal_path, method: :get %>
     <% end %>
  <h2>Proposals:</h2>
  <section>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Faculty Sponsor</th>
          <th>Date Created</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <%= render @proposals %>
      </tbody>
    </table>
  </section>
  <% end %>
</div>

